.bot
{
    position: fixed;
    bottom: 0;
    text-align: center;
}

@font-face {
    font-family: forabt;
    src: url(fonts/JAi_____.TTF);
}

@font-face {
    font-family: forabt2;
    src: url(fonts/Cherry\ Monospace-Light.ttf);
}
.h1p{
    column-count: 2;
}

#abt{
    font-family: forabt;
    color: #DC3545;
}

#abt2{
    font-weight: bolder;
    font-family: forabt2;
    color: #DC3545;
}



.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color:#DC3545 ;
    border: 0;
  }

  .sign-in
  {
     position: fixed;
     top: 0;
     right: 0;
  }

  #btn{
      background-color: #DC3545;
      color: beige;
  }

  #btn.hover
  {
      background-color: white;
      color: red;
      border: 1px solid blue;
  }


  
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color:#fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: #DC3545;
  }

  #changeme{
      font-family: forabt;
      font-weight: bold;
       color:#DC3545 ;
      text-align: center;
  }

  a{
       
    padding: 2px;
      text-decoration: none;
      color: #DC3545;

  }

  a:hover
  {
      color: darkslategray;
  }

  .sel{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      display: block;
  color: white;
    }


    .bttn{
        margin-right: auto;
        margin-left: auto;
        display: block;
    }
